@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@mixin reset-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: calc(50vw - 120px);
  z-index: 1;
  width: 240px;
  height: 80px;
  margin-top: 5px;
  color: white;
  background-color: black;
  text-shadow: 3px 3px 7px #000000;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  font-family: "Open Sans", sans-serif;

  .small {
    font-size: 9px;
  }

  button {
    @include reset-button();
    font-weight: 1000;
    margin: 0 32px;
    font-size: 30px;

    &:hover {
      color: orange;
      transform: scale(1.2, 1);
    }
  }
}

.left,
.right {
  @include reset-button();
  background: black;
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 35px;
}

.right {
  right: 0;
}

.carousel {
  display: flex;
  overflow-x: hidden;
}

.slider {
  position: relative;
  display: flex;
}

.transition {
  transition: ease left 250ms;
}
